@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-weather {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.boxes {
  @apply  h-48 w-48  md:h-56 md:w-56  xl:h-72 xl:w-72  text-xl  md:text-2xl  xl:text-4xl  shadow rounded-xl flex flex-col items-center justify-center font-semibold;
}
